In [ ]:
# %% [markdown]
## Técnicas de disputa y manipulación de datos

### 1. Filtrado de datos utilizando pandas

#### a. Importar pandas y cargar un dataset en un dataframe

In [ ]:

# import pandas as pd
# Cargar dataset 'iris' de sklearn

# from sklearn.datasets import load_iris
# data = load_iris()
# df = pd.DataFrame(data.data, columns=data.feature_names)
# Imprimir primeras filas del dataframe

# print(df.head())

#### b. Filtrar datos por valor en una columna

In [ ]:
# Filtrar por valor en la columna 'sepal width (cm)'

# filtered_df = df[df['sepal width (cm)'] > 3.5]
# Imprimir primeras filas del dataframe filtrado

# print(filtered_df.head())

#### c. Filtrar datos por valor en varias columnas

In [ ]:
# Filtrar por valor en la columna 'sepal width (cm)' y 'sepal length (cm)'

# filtered_df = df[(df['sepal width (cm)'] > 3.5) & (df['sepal length (cm)'] > 7)]
# Imprimir primeras filas del dataframe filtrado

# print(filtered_df.head())

### 2. Clasificación de datos utilizando scikit-learn

#### a. Importar scikit-learn y cargar un dataset

In [ ]:

# from sklearn.datasets import load_iris
# from sklearn.model_selection import train_test_split
# Cargar dataset 'iris'

# data = load_iris()
# Separar datos en conjunto de entrenamiento y prueba

# X_train, X_test, y_train, y_test = train_test_split(data.data, data.target, test_size=0.3, random_state=42)

#### b. Entrenar un modelo de clasificación

In [ ]:

# from sklearn.neighbors import KNeighborsClassifier
# Crear modelo de clasificación con 5 vecinos cercanos

# knn = KNeighborsClassifier(n_neighbors=5)
# Entrenar modelo con conjunto de entrenamiento

# knn.fit(X_train, y_train)

#### c. Evaluar el modelo en el conjunto de prueba

In [ ]:

# from sklearn.metrics import accuracy_score
# Predecir valores para el conjunto de prueba

# y_pred = knn.predict(X_test)
# Calcular precisión del modelo en el conjunto de prueba

# accuracy = accuracy_score(y_test, y_pred)
# Imprimir precisión del modelo

# print(f'Precisión del modelo: {accuracy:.2f}')



## Técnicas de manipulación de datos

### 1. Filtrado de datos
#### a. Descargar un archivo csv con datos de precipitaciones de la ciudad de Buenos Aires.
# Utilizar pandas para leer el archivo y convertirlo en un DataFrame.

In [ ]:

# import pandas as pd
# url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/precipitation.csv'
# df = pd.read_csv(url)
# df.head()

#### b. Utilizar pandas para filtrar los datos y obtener únicamente los días en los que la precipitación superó los 50 mm.
# Utilizar el método query de DataFrame de pandas para filtrar los datos y crear un nuevo DataFrame que contenga únicamente los días en los que la precipitación superó los 50 mm.

In [ ]:

# df_rain = df.query('total_precipitation > 50')
# df_rain.head()

### 2. Clasificación de datos
#### a. Descargar un archivo csv con datos de ventas de una tienda online.
# Utilizar pandas para leer el archivo y convertirlo en un DataFrame.

In [ ]:

# url = 'https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv'
# df = pd.read_csv(url)
# df.head()

#### b. Clasificar los datos según la columna "AAPL.Open".
# Utilizar el método sort_values de DataFrame de pandas para clasificar los datos en orden ascendente según la columna "AAPL.Open".

In [ ]:

# df_sorted = df.sort_values('AAPL.Open')
# df_sorted.head()

### 3. Fusión de datos
#### a. Descargar dos archivos csv con datos de ventas de dos tiendas online distintas.
# Utilizar pandas para leer los archivos y convertirlos en DataFrames.

In [ ]:

# url1 = 'https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv'
# url2 = 'https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-amazon.csv'

# df1 = pd.read_csv(url1)
# df2 = pd.read_csv(url2)

#### b. Fusionar los dos DataFrames en uno solo.
# Utilizar el método concat de DataFrame de pandas para fusionar los dos DataFrames en uno solo.

In [ ]:

# df_merged = pd.concat([df1, df2])
# df_merged.head()

## Agregación y resumen de datos

### Ejercicio 1
# Se tiene un DataFrame con información de ventas de una tienda online. Cada fila representa una venta con los siguientes campos:
# * id_venta (int): identificador de la venta.
# * fecha_venta (str): fecha de la venta en formato "dd/mm/yyyy".
# * hora_venta (str): hora de la venta en formato "hh:mm:ss".
# * nombre_producto (str): nombre del producto vendido.
# * cantidad (int): cantidad vendida.
# * precio_unitario (float): precio unitario del producto vendido.
# El DataFrame se encuentra en el archivo "ventas.csv". Se pide:
#### a. Cargar el archivo "ventas.csv" como un DataFrame de pandas.
# ```python
# import pandas as pd
# ventas = pd.read_csv('ventas.csv')
# ```

#### b. Obtener el promedio de precio_unitario de todos los productos.
# ```python
# ventas['precio_unitario'].mean()
# ```

#### c. Obtener la cantidad total de productos vendidos.
# ```python
# ventas['cantidad'].sum()
# ```

#### d. Obtener el número de ventas realizadas por cada día.
# ```python
# ventas['fecha_venta'] = pd.to_datetime(ventas['fecha_venta'], format='%d/%m/%Y')
# ventas['fecha_venta'].dt.date.value_counts()
# ```

#### e. Obtener el producto más vendido.
# ```python
# ventas.groupby('nombre_producto')['cantidad'].sum().idxmax()
# ```

#### f. Obtener el día que más productos se vendieron.
# ```python
# ventas['fecha_venta'] = pd.to_datetime(ventas['fecha_venta'], format='%d/%m/%Y')
# ventas.groupby(ventas['fecha_venta'].dt.date)['cantidad'].sum().idxmax()
# ```

# Ejercicios de Agregación y Resumen de Datos
## Ejercicio 1: Cálculo de estadísticas descriptivas
### a. Cargar un conjunto de datos y mostrar sus primeras filas y columnas:

In [ ]:

# import pandas as pd

# df = pd.read_csv('ruta_del_archivo.csv')
# df.head()

### b. Calcular las siguientes estadísticas descriptivas de una columna numérica:
#### i. Media:

In [ ]:

# df['columna_numerica'].mean()

#### ii. Desviación estándar:

In [ ]:

# df['columna_numerica'].std()

#### iii. Valor máximo:

In [ ]:

# df['columna_numerica'].max()

#### iv. Valor mínimo:

In [ ]:

# df['columna_numerica'].min()

## Ejercicio 2: Cálculo de frecuencias
### a. Cargar un conjunto de datos y mostrar sus primeras filas y columnas:

In [ ]:

# import pandas as pd

# df = pd.read_csv('ruta_del_archivo.csv')
# df.head()

### b. Calcular la frecuencia de una columna categórica:
#### i. Contar el número de veces que aparece cada valor de la columna:

In [ ]:

# df['columna_categorica'].value_counts()

#### ii. Calcular el porcentaje de cada valor de la columna:

In [ ]:

# df['columna_categorica'].value_counts(normalize=True) * 100

## Ejercicio 3: Agrupación de datos
### a. Cargar un conjunto de datos y mostrar sus primeras filas y columnas:

In [ ]:

# import pandas as pd

# df = pd.read_csv('ruta_del_archivo.csv')
# df.head()

### b. Agrupar el conjunto de datos por una columna y calcular la media de otra columna:
#### i. Agrupar por una columna:

In [ ]:

# df_agrupado = df.groupby('columna_a_agrupar')

#### ii. Calcular la media de otra columna para cada grupo:

In [ ]:

# df_agrupado['columna_a_calcular_media'].mean()

### c. Ordenar los resultados por el valor de la media:
#### i. Ordenar de forma ascendente:

In [ ]:

# df_agrupado['columna_a_calcular_media'].mean().sort_values()

#### ii. Ordenar de forma descendente:

In [ ]:

# df_agrupado['columna_a_calcular_media'].mean().sort_values(ascending=False)

## Agregación y resumen de datos

### 1. Calcular la media, la mediana y la moda de un conjunto de datos utilizando NumPy y Pandas.

#### a. Importar NumPy y Pandas:

In [ ]:

# import numpy as np
# import pandas as pd

#### b. Crear un conjunto de datos de ejemplo:

In [ ]:

# datos = [1, 2, 2, 3, 3, 3, 4, 4, 5]

#### c. Calcular la media utilizando NumPy y Pandas:

In [ ]:

# media_np = np.mean(datos)
# media_pd = pd.Series(datos).mean()

# print(f"Media usando NumPy: {media_np}")
# print(f"Media usando Pandas: {media_pd}")

#### d. Calcular la mediana utilizando NumPy y Pandas:

In [ ]:

# mediana_np = np.median(datos)
# mediana_pd = pd.Series(datos).median()

# print(f"Mediana usando NumPy: {mediana_np}")
# print(f"Mediana usando Pandas: {mediana_pd}")

#### e. Calcular la moda utilizando Pandas:

In [ ]:

# moda_pd = pd.Series(datos).mode()

# print(f"Moda usando Pandas: {moda_pd}")

## Introducción a la visualización de datos

### 1. Utilizar la librería Matplotlib para crear un gráfico de barras a partir de un conjunto de datos.

#### a. Importar Matplotlib y los datos a utilizar:

In [ ]:
import matplotlib.pyplot as plt

x = ['Manzanas', 'Bananas', 'Naranjas']
y = [25, 45, 30]

#### b. Crear el gráfico de barras utilizando la función bar de Matplotlib:

In [ ]:
plt.bar(x, y)

#### c. Personalizar el gráfico con etiquetas de eje y un título:

In [ ]:
plt.title('Ventas de Frutas')
plt.xlabel('Frutas')
plt.ylabel('Ventas')
plt.show()

### 2. Utilizar Seaborn para crear un gráfico de distribución de datos.

#### a. Importar Seaborn y cargar los datos a utilizar:

In [ ]:
import seaborn as sns

tips = sns.load_dataset('tips')

#### b. Crear el gráfico de distribución utilizando la función distplot de Seaborn:

In [ ]:
sns.distplot(tips['total_bill'])

#### c. Personalizar el gráfico con etiquetas de eje y un título:

In [ ]:
plt.title('Distribución de la cuenta total')
plt.xlabel('Total de la cuenta')
plt.show()

### 3. Utilizar Plotly para crear un gráfico de dispersión animado.

#### a. Importar Plotly y cargar los datos a utilizar:

In [ ]:
import plotly.express as px

df = px.data.gapminder()
df_2007 = df[df['year']==2007]

#### b. Crear el gráfico de dispersión animado utilizando la función scatter de Plotly:

In [ ]:
fig = px.scatter(df_2007, x="gdpPercap", y="lifeExp", size="pop", color="continent", hover_name="country", log_x=True, size_max=60)
fig.show()

#### c. Personalizar el gráfico con un título y etiquetas de eje:

In [ ]:
fig.update_layout(title='PBI per capita vs Esperanza de vida (2007)',
                  xaxis_title='PBI per capita',
                  yaxis_title='Esperanza de vida')
fig.show()

## Almacenamiento y recuperación de datos

### 1. Utilizar SQL para crear una tabla e insertar datos en ella.

#### a. Conectar a una base de datos existente o crear una nueva:

In [ ]:
import sqlite3

conn = sqlite3.connect('example.db')

#### b. Crear una tabla con los campos deseados:

In [ ]:
c = conn.cursor()

c.execute('''CREATE TABLE empleados
             (nombre text, apellido text, edad int, salario real)''')

#### c. Insertar datos en la tabla:

In [ ]:
c.execute("INSERT INTO empleados VALUES ('Juan', 'Pérez', 30, 5000.0)")
c.execute("INSERT INTO empleados VALUES ('María', 'Gómez', 35, 6000.0)")
c.execute("INSERT INTO empleados VALUES ('Pedro', 'Rodríguez', 25, 4000.0)")

#### d. Guardar los cambios y cerrar la conexión:

In [ ]:
conn.commit()
conn.close()

### 2. Utilizar SQL para realizar consultas a una base de datos.

#### a. Conectar a la base de datos creada en el ejercicio anterior:

In [ ]:
conn = sqlite3.connect('example.db')

#### b. Realizar una consulta simple:

In [ ]:
c = conn.cursor()

for row in c.execute('SELECT * FROM empleados'):
    print(row)

#### c. Realizar una consulta más compleja:

In [ ]:
for row in c.execute('SELECT nombre, salario FROM empleados WHERE edad > 30'):
    print(row)

#### d. Cerrar la conexión:

In [ ]:
conn.close()

## Almacenamiento y recuperación de datos

### 1. Crear una base de datos SQLite y una tabla para almacenar información de clientes.

#### a. Importar la librería SQLite3 y crear una conexión a una nueva base de datos:

In [ ]:
import sqlite3

conn = sqlite3.connect('clientes.db')

#### b. Crear una tabla para almacenar información de clientes:

In [ ]:
c = conn.cursor()

c.execute('''CREATE TABLE clientes
             (id INTEGER PRIMARY KEY, nombre TEXT, edad INTEGER, email TEXT)''')

#### c. Insertar algunos datos de ejemplo en la tabla:

In [ ]:
c.execute("INSERT INTO clientes VALUES (1, 'Juan', 25, 'juan@gmail.com')")
c.execute("INSERT INTO clientes VALUES (2, 'María', 30, 'maria@gmail.com')")
c.execute("INSERT INTO clientes VALUES (3, 'Pedro', 20, 'pedro@gmail.com')")

# Guardar los cambios
conn.commit()

#### d. Consultar los datos almacenados en la tabla:

In [ ]:
c.execute("SELECT * FROM clientes")

for row in c:
    print(row)

### 2. Crear una base de datos MongoDB y una colección para almacenar información de productos.

#### a. Importar la librería pymongo y crear una conexión a un servidor de MongoDB:

In [ ]:
import pymongo

client = pymongo.MongoClient('mongodb://localhost:27017/')

#### b. Crear una base de datos y una colección para almacenar información de productos:

In [ ]:
db = client['mi_database']
col = db['productos']

#### c. Insertar algunos datos de ejemplo en la colección:

In [ ]:
producto1 = {'nombre': 'Manzanas', 'precio': 2.5, 'stock': 100}
producto2 = {'nombre': 'Bananas', 'precio': 1.5, 'stock': 50}
producto3 = {'nombre': 'Naranjas', 'precio': 3, 'stock': 75}

col.insert_many([producto1, producto2, producto3])

#### d. Consultar los datos almacenados en la colección:

In [ ]:
for prod in col.find():
    print(prod)